#listOptions {
  margin-right: 8px;
}

#todo-items .item-input-control {
  border: 0;
  box-shadow: none;
  background-color: transparent;
}

#todo-items .done-todo {
  text-decoration: line-through;
}

#todo-items .todo-item-title {
  padding-top: 8px;
}

#todo-items .list-group-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

#todo-items .list-group-item .btn-xs {
  padding: 0;
}

#todo-items .todo-item-checkbox {
  padding-top: 8px;
}

#todo-items .todo-item-commands {
  padding-top: 4px;
}

.modal-footer {
  display: block;
}

.todo-item-delete{
  padding-left: 4px;

}

.todo-item-color{
  padding-left: 5px;

}

#todo-items .list-group-item01 {
  padding-top: 8px;
  padding-bottom: 8px;
}

#todo-items .list-group-item01 .btn-xs {
  padding: 0;
}

.todo2 {
  background-color:red;
}

.todo3 {
  background-color:yellowgreen;
}